/*
white: #fff
grey: #fafafa
dark-grey: #f5f5f5
black: #19261D
grey-text: #464947
border:  #e0e0e0
primary: #8DC44E
secondary: #A24936
tertiary: #3E5641
 */

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto italic;
    src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: Roboto light;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

.text {
    -fx-font-family: Roboto;
    -fx-text-fill: #19261D;
}

.text-on-grey {
    -fx-font-family: Roboto;
    -fx-text-fill: #464947;
}

.white-text {
    -fx-font-family: Roboto;
    -fx-text-fill: white;
}

.green-text {
    -fx-font-family: Roboto;
    -fx-text-fill: #8DC44E;
}

.red-text {
    -fx-font-family: Roboto;
    -fx-text-fill: #A24936;
}

.green-text-on-hover:hover {
    -fx-text-fill: #8DC44E;
}

.form {
    -fx-background-color: white;
}

.borderless {
    -fx-border-width: 0px;
}

.bordered {
    -fx-border-color: #888888;
    -fx-border-width: 1px;
}

.left-border {
    -fx-border-color: #888888;
    -fx-border-insets: -1000 -1000 -1000 0;
    -fx-border-width: 1px;
}

.link {
    -fx-text-fill: #8DC44E;
    -fx-cursor: hand;
}

.bold {
    -fx-font-weight: bold;
}

.grey-dark {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #eeeeee;
    -fx-border-color: #eeeeee;
    -fx-progress-color: #eeeeee;
}

.white-background {
    -fx-background-color: white;
}

.grey-dark-background-hover:hover {
    -fx-background-color: #ebebeb;
}

.grey-dark-background {
    -fx-background-color: #f5f5f5;
}

.grey-background {
    -fx-background-color: #fafafa;
}

.green-background {
    -fx-background-color: #8DC44E;
}

.secondary-background {
    -fx-background-color: #A24936;
}

.tertiary-background {
    -fx-background-color: #3E5641;
}

.small-text {
    -fx-font-size: 16px;
    -fx-font-family: Roboto;
}

.small-normal-text {
    -fx-font-size: 18px;
    -fx-font-family: Roboto;
}

.normal-text {
    -fx-font-size: 20px;
    -fx-font-family: Roboto;
}

.large-text {
    -fx-font-size: 22px;
    -fx-font-family: Roboto;
}

.huge-text {
    -fx-font-size: 26px;
    -fx-font-family: Roboto;
}

.raised-slight {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 5, 0, 1, 3);
}

.raised-slight:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 15, 0, 1, 3);
}

.search-field {
    -fx-border-width: 1px;
    -fx-background-color: #888888, #fff;
    -fx-background-radius: 2;
}

.search-field:focused {
    -fx-background-color: #888888, #fff;
}

.highlighted {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-text-fill: #464947;
    -fx-background-color: #f5f5f5;
}

.jfx-list-cell {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-text-fill: #464947;
    -fx-background-color: #f5f5f5;
}

.jfx-list-cell:hover {
    -fx-background-color: #8DC44E;
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: #3E5641;
}

.jfx-popup .jfx-button {
    -fx-font-size: 16px;
    -fx-text-fill: #464947;
}

.jfx-popup .jfx-button:hover {
    -fx-background-color: #fafafa;
}

.jfx-button {
    -fx-font-family: Roboto;
}

.jfx-slider .track,
.jfx-slider:vertical .track {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-width: 2px;
    -fx-pref-height: 2px;
}

.jfx-slider .thumb,
.jfx-slider:focused .thumb {
    -fx-background-color: #8DC44E;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider .colored-track {
    -fx-background-color: #8DC44E;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.jfx-slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}

.jfx-slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: #8DC44E;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.jfx-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider:min .animated-thumb {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.default-color0.chart-pie {
    -fx-pie-color: #aff25f;
}

.default-color1.chart-pie {
    -fx-pie-color: #a6e65b;
}

.default-color2.chart-pie {
    -fx-pie-color: #9dd956;
}

.default-color3.chart-pie {
    -fx-pie-color: #8DC44E;
}

.default-color4.chart-pie {
    -fx-pie-color: #84b749;
}

.default-color5.chart-pie {
    -fx-pie-color: #7cac45;
}

.default-color6.chart-pie {
    -fx-pie-color: #76a341;
}

.chart-bar {
    -fx-bar-fill: #8DC44E;
}

.tree-table-view:focused {
    -fx-background-color: #8DC44E, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: #8DC44E;
    -fx-table-cell-border-color: #8DC44E;
    -fx-text-fill: BLACK;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: BLACK;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.tree-table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill: #949494;
    -fx-padding: 16 0 16 0;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 0 16 0;
    -fx-alignment: top-center;
}

.tree-table-view .column-overlay {
    -fx-background-color: #8DC44E;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header {
    -fx-background-color: #3E5641;
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-table-row-cell .jfx-text-field {
    -fx-focus-color: rgb(82, 100, 174);
}

.tree-table-row-cell .jfx-text-field:error {
    -jfx-focus-color: #913e22;
    -jfx-unfocus-color: #A24936;
}

.tree-table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: #A24936;
    -fx-font-size: 0.75em;
}

.tree-table-row-cell .jfx-text-field .error-icon {
    -fx-fill: #A24936;
    -fx-font-size: 1.0em;
}

.tree-table-row-cell:grouped {
    -fx-background-color: rgb(230, 230, 230);
}

.tree-table-view .menu-item:focused {
    -fx-background-color: #8DC44E;

}

.tree-table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.my-scroll-pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}
